<div class="container-fluid">
	<div class="row">

		<div class="col-md-4">
			<img class="img-rounded" style="width: 150px"
				 ng-src="imgs/products/{{seller.user.imgUrl}}" />
		</div>
		<div class="col-md-8">
			<div class="row">
				<h1>{{seller.user.fistName}} {{seller.user.lastName}}</h1>
			</div>
			<div class="row">
				<h4>Email: {{seller.user.email}} </h4>
			</div>
			<div class="row">
				<h4>Number of stalls: {{stalls.length}}</h4>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<h3>Stalls</h3>
				<div class="row">
						<stall-display ng-repeat="stall in stalls" entity="stall"></stall-display>
				</div>
		</div>
</div>
	</div>
</div>