

<div class="container-fluid">
	<div class="col-md-12">

		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>{{user.username}}</h3>
				</div>

				<div class="panel-body">
					<div class="col-md-4">
						<img class="img-rounded" style="width: 250px"
							ng-src="imgs/users/{{user.imgUrl}}" />
							<input type="file" ng-file-select="save($files)" multiple accept="image/*">
					</div>
					<div class="col-md-8">

						<div class="row">
							<h3>
								<b>User Details</b>
							</h3>
						</div>
						<hr>

						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>FirstName</b>
								</h4>
							</div>
							<div class="col-md-8">
								<a href="#/profile" editable-text="user.firstName" >{{user.fistName || 'empty' }}</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">

								<h4>
									<b>LastName</b>
								</h4>
							</div>
							<div class="col-md-8">
									<h4>{{user.lastName}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>Email</b>
								</h4>
							</div>
							<div class="col-md-8">
								<h4>{{user.email}}</h4>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4">
								<h4>
									<b>User role</b>
								</h4>
							</div>
							<div class="col-md-8">
								<h4>{{user.role}}</h4>
							</div>
						</div>
						
						

					</div>
				</div>

			</div>
		</div>
		
		 <div>Email: <a href="#/profile" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
		  <div>Tel: <a href="#" editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div>
		  <div>Number: <a href="#" editable-number="user.number" e-min="18">{{ user.number || 'empty' }}</a></div>  
		  <div>Range: <a href="#" editable-range="user.range" e-step="5">{{ user.range || 'empty' }}</a></div>  
		  <div>Url: <a href="#" editable-url="user.url">{{ user.url || 'empty' }}</a></div>  
		  <div>Search: <a href="#" editable-search="user.search">{{ user.search || 'empty' }}</a></div>  
		  <div>Color: <a href="#" editable-color="user.color">{{ user.color || 'empty' }}</a></div>  
		  <div>Date: <a href="#" editable-date="user.date">{{ user.date || 'empty' }}</a></div>  
		  <div>Time: <a href="#" editable-time="user.time">{{ user.time || 'empty' }}</a></div>  
		  <div>Datetime: <a href="#" editable-datetime="user.datetime">{{ user.datetime || 'empty' }}</a></div>  
		  <div>Month: <a href="#" editable-month="user.month">{{ user.month || 'empty' }}</a></div>  
		  <div>Week: <a href="#" editable-week="user.week">{{ user.week || 'empty' }}</a></div>  
		<div class="row" ng-if="user.role === 'ROLE_SELLERS'">
			<div>
				<stall-display ng-repeat="stall in stalls" entity="stall"></stall-display>
			</div>
		</div>
	</div>
</div>
