<style>
	.panel-heading{
		padding:0;
	}
</style>
<div class="">
	<accordion close-others="true">
		<accordion-group ng-repeat="cat in sideNav.categories" is-open="status[$index].open">
			<accordion-heading  ng-class="{padding: 0 }"  ng-click="status[$index].open=!status[$index].open" >
				 <div class="row">
					 <div class="col-xs-12" style="margin-right:-30px">
					<a ng-click="navBrowseCategory(cat.id); $event.stopPropagation();"
						type="button" class="btn btn-primary btn-block">
						{{cat.name}}
					</a>
					 </div>
					 <div >
						<i class="glyphicon" ng-class="{'glyphicon-collapse-up': status[$index].open, 'glyphicon-collapse-down': !status[$index].open}"
						>
						</i>
					</div>

				 </div>
			</accordion-heading>

			<a ng-repeat="type in sideNav.catTypes[cat.id]" ng-click="navBrowseType(type.id);"
			 	type="button" class="btn btn-info btn-block">
				{{type.name}}
			</a>
		</accordion-group>
</accordion>
</div>

