<nav role="navigation" class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Green Market</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderController">
			<ul class="nav navbar-nav">

				<li ng-class="{ active: isActive('/')}"><a ng-href="#/">Home</a></li>
				<li ng-class="{ active: isActive('/stalls')}"><a ng-href="#/stalls">Stalls</a></li>
				<li ng-class="{ active: isActive('/sellers')}"><a ng-href="#/sellers">Sellers</a></li>
				<li ng-class="{ active: isActive('/order_items')}"><a ng-href="#/order_items">Shopping Cart</a></li>
        <br/>
				<!-- Treba da se smenat -->
        <li><a>Admin:</a></li>
				<li ng-class="{ active: isActive('/products')}"><a ng-href="#/products">Products</a></li>
				<li ng-class="{ active: isActive('/types')}"><a ng-href="#/types">Types</a></li>
				<li ng-class="{ active: isActive('/admin/categories')}"><a ng-href="#/admin/categories">Edit Category</a></li>



			</ul>
			<ul class="nav nav-pills pull-right">
				<!-- Search form -->
				<form class="navbar-form navbar-left" role="search"
					ng-submit="search()" ng-controller="SearchController">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search"
							ng-model="searchField">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<li class="dropdown" ng-controller="LanguageController"><a
					href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>
							<i class="fa fa-fw fa-flag"></i> <span class="hidden-tablet"
							translate="generic.language"></span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu">
						<li class="{{isActive(l.name) ? 'active':''}}"
							ng-repeat="l in languages"><a
							ng-click="changeLanguage(l.name)"> <span
								class="famfamfam-flag-{{l.name}}"></span>&nbsp;<span
								translate="generic.{{l.name}}"></span></a></li>

					</ul></li>

				<li><a ng-href="#/login" ng-if="!$root.user">Login</a> <a
					ng-click="logout()" ng-if="$root.user" class="clickable"
					title="logout"> <i class="fa fa-fw fa-sign-out"></i>
						{{$root.user.username}}
				</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>

</nav>
